/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
.cell{
    height: 100px;
    width: 100px;
    border: inset 7px rgb(0, 132, 255);
    text-align: center;
    font-size: 65px;
}

.result{
    padding: 8px 19px;
    margin: 2em 0;
    color: #f1f1f1;
    background: #0300ad;
    border-top: solid 5px #070069;
    border-bottom: solid 5px #070069;
    font-size: xx-large;
}


